{% extends 'common/common.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load countries %}
{% block content %}
    <section>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'field_rate' %}">FieldRate</a></li>
            <li class="breadcrumb-item"><a href="{% url 'survey_manage' %}">Survey</a></li>
            <li class="breadcrumb-item active">Add Survey</li>
        </ol>
        <div class="container center-block">
            {% if form.non_field_errors %}
                <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="" method="post" role="form" class="surveyForm">
                {% csrf_token %}
                <div class="container-fluid">
                    <a href="{% url 'add_survey' %}" class="breadcrumb-item navbar-right btn btn-primary"> Save Progress</a>
                </div>
                <div class="container-fluid col-md-5">
                    <div class="form-group row">
                        {{ form.name }}
                    </div>
                    <div class="form-group row">
                        {{ form.employee_group }}
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}