{% extends 'common/common.html' %}
{% load static %}
{% load i18n %}
{% load rest_framework %}
{% block extracss %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'MultiElementSelection/css/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'MultiElementSelection/css/component.css' %}"/>
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'field_rate' %}">FieldRate</a></li>
        <li class="breadcrumb-item"><a href="{% url 'survey_manage' %}">Manage Surveys</a></li>
    </ol>
    <!-- Content -->
    <div class="main-sub-container">
        <div class="container">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col text-center">
                    <h2 class="page-title">Survey</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" id="step-wizard" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active step-complete" id="step-tab-1" data-toggle="tab" role="tab"
                               aria-controls="step-1" aria-selected="true" href="#step-1"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="step-tab-2" data-toggle="tab" role="tab" aria-controls="step-2"
                               aria-selected="false" href="#step-2"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="step-tab-3" data-toggle="tab" role="tab" aria-controls="step-3"
                               aria-selected="false" href="#step-3"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="step-tab-4" data-toggle="tab" role="tab" aria-controls="step-4"
                               aria-selected="false" href="#step-4"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="step-tab-5" data-toggle="tab" role="tab" aria-controls="step-5"
                               aria-selected="false" href="#step-5"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" style="justify-content: center;">
                <div id="variable-div" class="col col-12 col-lg-6 col-md-12 text-center">
                    <div class="tab-content" id="myTabContent" style="margin-top: 30px;">
                        <div class="tab-pane fade show active" id="step-1" role="tabpanel" aria-labelledby="step-tab-1">
                            <form id="survey-step1">
                                <input id="survey-name" type="text" class="form-control"
                                       placeholder="Give name to survey"/>
                            </form>
                        </div>
                        <div class="tab-pane fade show" id="step-2" role="tabpanel" aria-labelledby="step-tab-2">
                            <form>
                                <input id="survey-group" type="text" class="form-control" placeholder="Employee Group"/>
                            </form>
                        </div>
                        <div class="tab-pane fade show col-md-auto" id="step-3" role="tabpanel"
                             aria-labelledby="step-tab-3">
                            <form onSubmit="return false;" class="me-select">
                                <ul id="me-select-list">
                                    <li>
                                        <label for="title">
                                            <strong>
                                                <span>Question Title</span>
                                                <span>Rate Scale</span>
                                            </strong>
                                        </label>
                                    </li>
                                    {% for question in question_set %}
                                        <li>
                                            <input id="{{ question.id }}" class="question_set" type="checkbox">
                                            <label for="{{ question.id }}">
                                                <span>{{ question.question }}</span>
                                                <span>{{ question.options }}</span>
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <!--
                                <div class="form-group">
                                    <label class="text-left">Add question: type a question</label>
                                    <textarea class="form-control" rows="2"></textarea>
                                </div>
                                -->
                                <!--
                                <div class="form-group">
                                    <select class="form-control" id="question_type" onchange="selectQuestionType(this)">
                                        <option value="0">Select Question Type</option>
                                        <option value="mcq">MCQ</option>
                                        <option value="text">Text</option>
                                        <option value="rating">Rating</option>
                                    </select>
                                </div>
                                -->
                                <div class="form-group question_category hidden" id="mcq">
                                    <input type="text" class="form-control" data-role="tagsinput"
                                           placeholder="options"/>
                                </div>
                                <div class="form-group question_category hidden" id="text">
                                    <input type="text" class="form-control" placeholder="Answer"/>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade show" id="step-4" role="tabpanel" aria-labelledby="step-tab-4">
                            <form>
                                <div class="form-row">
                                    <div class="col">
                                        <input id="survey-start-time" type="text" placeholder="Start Time" onfocus="(this.type='datetime-local')" class="form-control"/>
                                    </div>
                                    <div class="col">
{#                                        {% render_field serializer.end_date style=style %}#}
                                        <input id="survey-end-time" type="text" placeholder="End Time" onfocus="(this.type='datetime-local')" class="form-control"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade show" id="step-5" role="tabpanel" aria-labelledby="step-tab-5">
{#                            <form>#}
{#                                <div class="form-group">#}
{#                                    <button id="survey-save" class="btn btn-theme" type="button">Save Survey</button>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <button id="survey-save-next" class="btn btn-theme" type="button">Create New Survey</button>#}
{#                                </div>#}
{#                            </form>#}
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            <button class="btn btn-theme" type="submit" id="next">Save Progress</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <script src="{% static 'MultiElementSelection/js/magicselection.js' %}"></script>
    <script src="{% static 'MultiElementSelection/js/modernizr.custom.js' %}"></script>
    <script type="text/javascript">
        var survey_id = '{{ survey_id }}';
        console.log(survey_id);
        var tabCounter = {{ step }} + 1;
        if (tabCounter === 0){
            tabCounter = 1;
        }
        var step_number = localStorage.getItem('step_number');
        if (step_number > tabCounter){
            tabCounter = step_number;
        }
        console.log(tabCounter);
        var csrftoken = Cookies.get('csrftoken');
        var user_token = '{{ user.auth_token.key }}';
        var default_api_url = '/api/v1/survey/';
        var wizard_url = "";
        function DivChanger(flag) {
            if (flag === "reset") {
                var decide = document.getElementById("variable-div").classList.contains('col-lg-12');
                if (decide === true) {
                    document.getElementById("variable-div").className = "col col-12 col-lg-6 col-md-6 text-center";
                }
            }
            else {
                document.getElementById("variable-div").className = "col col-12 col-lg-12 col-md-12 text-center";
            }
        }

        $('#step-wizard a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
            var wizard_step = $(this).attr('id');
            if (wizard_step === 'step-tab-2') {
                tabCounter = 2;
                DivChanger("reset")
            }
            else if (wizard_step === 'step-tab-3') {
                tabCounter = 3;
                DivChanger("set");
            }
            else if (wizard_step === 'step-tab-4') {
                tabCounter = 4;
                DivChanger("set");
            }
            else if (wizard_step === 'step-tab-5') {
                tabCounter = 5;
                DivChanger("reset");
            }
            else {
                DivChanger("reset")
            }
        });

        function selectQuestionType(element) {
            $(".question_category").addClass("hidden");
            $("#" + $(element).val()).removeClass("hidden");
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function setCSRF(xhr, settings) {
            xhr.setRequestHeader("Authorization", "Token " + user_token);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }

        function CustomRequest(content) {

            $.ajax({
                url: content.url,
                method: content.method,
                data: JSON.stringify(content.data),
                contentType: "application/json;charset=utf-8",
                beforeSend: setCSRF,
                success: function (responseObj) {
                    {#var responseData = JSON.parse(responseObj);#}
                    console.log("Saved! It worked.");
                    console.log(responseObj);
                    console.log(wizard_url);
                    wizard_url = responseObj.url;
                    localStorage.setItem("obj", responseObj);
                    localStorage.setItem("wizard_url", responseObj.url);
                    localStorage.setItem("survey_id", responseObj.id);
                    localStorage.setItem("name", responseObj.name);
                    localStorage.setItem("employee_group", responseObj.employee_group);
                    localStorage.setItem("start_date", responseObj.start_date);
                    localStorage.setItem("end_date", responseObj.end_date);
                    localStorage.setItem("steps_completed", responseObj.steps);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText));
                    {#window.location.href = "{% url 'add_survey' %}"#}
                }
            });
        }
         $('#survey-step1').submit(function(e) {
            e.preventDefault();
            console.log('submitted');
         });
        $('#next').click(function () {
            event.preventDefault();
            console.log(default_api_url);
            if (tabCounter === 1) {
                // Create new survey state /or change name of current survey
                var post_name = {
                    url: wizard_url,
                    method: 'POST',
                    data: {"name": $('#survey-name').val(), "steps": 1}
                };
                var stage1_response = CustomRequest(post_name);
                console.log(stage1_response);
            }
            else if (tabCounter === 2) {
                // Add employee group to selected survey
                var survey_id = localStorage.getItem("survey_id");
                var this_url = default_api_url + survey_id + "/";
                var patch_group = {
                    url: this_url,
                    method: 'PATCH',
                    data: {"employee_group": $('#survey-group').val(), "steps": 2}
                };
                CustomRequest(patch_group)
            }
            else if (tabCounter === 3) {
                // Select Question Set for the survey
                // Here Id of question will be passed as a list and question object will be bind at backend/view
                var selected_questions = [];
                $.each($('.selected'), function () {
                    selected_questions.push($(this).find('input').attr('id'))
                });
                var path_question_set = {
                    url: default_api_url + localStorage.getItem("survey_id") + "/",
                    method: 'PATCH',
                    data: {"question": selected_questions, "steps": 3}
                };
                CustomRequest(path_question_set);
                {#DivChanger("reset");#}
            }
            else if (tabCounter === 4) {
                var start_time = $('#survey-start-time').val();
                var end_time = $('#survey-end-time').val();
                var patch_duration = {
                    url: default_api_url + localStorage.getItem("survey_id") + "/",
                    method: 'PATCH',
                    data: {"start_date": start_time,
                        "end_date": end_time,
                        "steps": 4}
                };
                CustomRequest(patch_duration);
                DivChanger("reset");
            }
            else if (tabCounter === 5) {
                var complete_survey = {
                    url: default_api_url + localStorage.getItem("survey_id") + "/",
                    method: 'PATCH',
                    data: {"complete": true,
                        "steps": 5}
                };
                CustomRequest(complete_survey);
                window.location.href = "{% url 'survey_manage' %}";
                DivChanger("reset");
            }
            $("#step-wizard li:eq(" + (tabCounter) + ") a").tab('show');
            $("#step-wizard li:eq(" + (tabCounter) + ") a").addClass("step-complete");
            tabCounter++;
            localStorage.setItem('step_number', tabCounter);
        });
        $(function () {
            if (wizard_url === "" && survey_id !== "None"){
                wizard_url = default_api_url + survey_id + '/';
                console.log(wizard_url);
                var get_data = {
                    url: wizard_url,
                    method: 'GET'
                };
                CustomRequest(get_data);
                var steps_completed = parseInt(localStorage.getItem('steps_completed'), 10);
                $('#survey-name').val(localStorage.getItem('name'));
                if (steps_completed >= 2){
                    $('#survey-group').val(localStorage.getItem('employee_group'));
                }
                $('#survey-start-time').val(localStorage.getItem('start_date'));
                $('#survey-end-time').val(localStorage.getItem('end_date'));
                // wizard_url = default_api_url;
            }

            $("#step-wizard li:eq("+ (tabCounter-1) +") a").tab('show');
            $("#step-wizard li:eq(" + (tabCounter-1) + ") a").addClass("step-complete");
            for (var i = 0; i < (tabCounter-1); i++) {
                $("#step-wizard li:eq(" + i + ") a").addClass("step-complete");
            }

        });

        (function () {
            // this function is for step 3 when multiple question are to be selected
            var selList = document.getElementById('me-select-list'),
                items = selList.querySelectorAll('li');
            [].slice.call(items).forEach(function (el) {
                el.parentNode.className = el.checked ? 'selected' : '';
            });

            function checkUncheck(el) {
                el.parentNode.className = el.checked ? '' : 'selected';
                el.checked = !el.checked;
            }

            new magicSelection(selList.querySelectorAll('li > input[type="checkbox"]'), {
                onSelection: function (el) {
                    checkUncheck(el);
                },
                onClick: function (el) {
                    el.parentNode.className = el.checked ? 'selected' : '';
                }
            });

        })();
    </script>
{% endblock %}