{% extends 'common/common.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
	<style>
		/* Chat containers */
		.containerChat {
			border: 2px solid #dedede;
			background-color: #f1f1f1;
			border-radius: 5px;
			padding: 5px;
			margin: 5px 0;
		}

		/* Darker chat container */
		.darker {
			border-color: #ccc;
			background-color: #bc8e76;
		}

		/* Clear floats */
		.containerChat::after {
			content: "";
			clear: both;
			display: table;
		}

		/* Style images */
		.containerChat img {
			float: left;
			max-width: 60px;
			width: 100%;
			margin-right: 20px;
			border-radius: 50%;
			max-height:60px;
		}

		/* Style the right image */
		.containerChat img.right {
			float: right;
			margin-left: 20px;
			margin-right:0;
		}

		/* Style time text */
		.time-right {
			float: right;
			color: #aaa;
		}

		/* Style time text */
		.time-left {
			float: left;
			color: #999;
		}
		.main-sub-container {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 0px;
			height: auto;
		}
	</style>
{% endblock %}
{% block content %}
    <!-- Content -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'field_rate' %}">FieldRate</a></li>
        <li class="breadcrumb-item active">Chat</li>
    </ol>
    <div class="main-sub-container">
        <div class="container-fluid">
            <!--<div class="row">
                <div class="col" style="display: flex;">
                    <div class="fieldrate-icon">
                        <a href="{% url 'field_rate' %}">
                            <img src="{% static '/assets/images/img1.png' %}"/>
                        </a>
                    </div>
                    <div class="fieldrate-icon" style="margin-left: 10px;">
                        <a href="{% url 'chat' %}">
                            <img src="{% static '/assets/images/chaticon.png' %}"/>
                        </a>
                    </div>
                </div>
            </div>-->
            <div class="chat-container">
                <div class="row">
                    <!--<div class="col col-12 hidden-xs-down col-lg-3 col-md-3 no-padding">
                        <ul class="chat">
                            <li>Chat</li>
                            <li>Search</li>
                        </ul>
                        <table class="table table-responsive chat-table">
                            <thead class="thead-inverse">
                            <tr>
                                <td>Country</td>
                                <td>State</td>
                                <td>City</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>India</td>
                                <td>Gujarat</td>
                                <td>Ahemdabad</td>
                            </tr>
                            <tr>
                                <td>India</td>
                                <td>Gujarat</td>
                                <td>Ahemdabad</td>
                            </tr>
                            <tr>
                                <td>India</td>
                                <td>Gujarat</td>
                                <td>Ahemdabad</td>
                            </tr>
                            <tr>
                                <td>India</td>
                                <td>Gujarat</td>
                                <td>Ahemdabad</td>
                            </tr>
                            <tr>
                                <td>India</td>
                                <td>Gujarat</td>
                                <td>Ahemdabad</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>-->
                    <div class="col col-12 chat-body col-lg-9 col-md-9 no-padding">
                        <ul class="chat" style="justify-content: flex-end">
{#                            <li id="search-chat">Search</li>#}
                            <li>
                                <div>
                                    <img class="chat-avatar-limit" id="current-chat-session-image" src="{% static '/assets/images/avatar@2x.png' %}"/>
                                </div>
                            </li>
                            <li id="current-chat-session">Name</li>
                        </ul>
                        <div class="chat-message-container">
							<div style="max-height:350px;height:350px;overflow-y:scroll;" id="parentChatWindow">
								<div class="col-md-12" id="chatWindow">

								</div>
							</div>
                        </div>
                        <div class="form-group chat-text-box" style="position:relative;">
                            <input type="text" class="form-control" id="new_message_area"/>
                            <ul>
{#                                <li><img src="{% static '/assets/images/attachment.png' %}"/></li>#}
                                <li id="send_message">Send</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-12 col-lg-3 col-md-3 no-padding">
                        <ul class="chat">
                            <li>Online User</li>
                        </ul>
                        <ul class="list-group">
                            {% for employee in employees %}
                                <li class="list-group-item" id="{{ employee.id }}" data-name="{{ employee.get_full_name }}" value="{{ employee.id }}"
                                    data-profile="{% if employee.profile_image %}{{ employee.profile_image.url }}{% else %}{% static '/assets/images/avatar.png' %}{% endif %}"
                                    onclick="initiateChat(this)">
                                <a href="#" class="no-style-a">
                                    <div class="row">
                                        {% if employee.profile_image %}
                                            <div class="chat-avatar-limit">
                                                <img class="img-responsive chat-avatar-limit"
                                                     src="{{ employee.profile_image.url }}"/>
                                            </div>
                                        {% else %}
                                            <div class="chat-avatar-container">
                                                <img src="{% static '/assets/images/avatar.png' %}" width="15px"/>
                                            </div>
                                        {% endif %}
                                        <span>{{ employee.get_full_name }} ({{ employee.contact_number }})</span>
                                    </div>
                                </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 				<div class="row">
                                <div id="mySidenav" class="sidenav">
                                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                  <table class="table table-responsive chat-table">
                                            <thead class="thead-inverse">
                                                <tr>
                                                    <td>Country</td>
                                                    <td>State</td>
                                                    <td>City</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>India</td>
                                                    <td>Gujarat</td>
                                                    <td>Ahemdabad</td>
                                                </tr>
                                                <tr>
                                                    <td>India</td>
                                                    <td>Gujarat</td>
                                                    <td>Ahemdabad</td>
                                                </tr>
                                                <tr>
                                                    <td>India</td>
                                                    <td>Gujarat</td>
                                                    <td>Ahemdabad</td>
                                                </tr>
                                                <tr>
                                                    <td>India</td>
                                                    <td>Gujarat</td>
                                                    <td>Ahemdabad</td>
                                                </tr>
                                                <tr>
                                                    <td>India</td>
                                                    <td>Gujarat</td>
                                                    <td>Ahemdabad</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
                            </div>
             -->
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/handlebars-v4.0.11.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-messaging.js"></script>

    <script>
        toastr.options.preventDuplicates = true;
        toastr.options.progressBar = true;
        var currentUserId = '{{ user.id }}';  // current logged in user ID
        var currentUserName = '{{ user.first_name }}';  // current logged in user ID
        var chatRecord = {};
        var receiverId = '';
		var userProfile;
        // Initialize Firebase
        //  Replace with your project's customized code snippet
        var config = {
            apiKey: "AIzaSyDpToIqwQ8GR7JVA1qLQTzp9eTHMrFWoZU",
            authDomain: "shareabook-aed46.firebaseapp.com",
            databaseURL: "https://shareabook-aed46.firebaseio.com",
            storageBucket: "shareabook-aed46.appspot.com"
        };
        firebase.initializeApp(config);

        var database = firebase.database();
        $("#new_message_area").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#send_message").click();
            }
        });
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        // writeUserData('32', "Stephen", "8888888802", "")
        function writeUserData(userId, name, phoneNo, imageUrl) {
            firebase.database().ref('Users/' + userId).set({
                userId: userId,
                name: name,
                phoneNo: phoneNo,
                profileImage: imageUrl
            });
        }

        function writeMessage(senderId, receiverId, message) {
            console.log(senderId, receiverId, message);

            // Get a key for a new Post.
            var rootRef = firebase.database().ref();
            var Event = rootRef.child('Messages/' + receiverId + "_" + senderId + '/Event');
            var chatRoom = rootRef.child('Messages/' + receiverId + "_" + senderId + '/Chat/');
            var newPostKey = chatRoom.push().key;
            var newMessage = chatRoom.push();
            var messageData = {
                message: message,
                receiverId: receiverId,
                senderId: senderId,
                timeStamp: JSON.stringify((new Date).getTime())
            };
            newMessage.set(messageData);
            var eventData = {
                hr_event: "sent"
            };
            Event.set(eventData);
            {#toastr.remove();#}
            $('#new_message_area').val('');
            toastr["success"]("message sent successfully", "Message Sent");
        }
        function convertEpochToSpecificTimezone(offset,time){
			var d = new Date(time);
			var utc = d.getTime() + (d.getTimezoneOffset() * 60000);  //This converts to UTC 00:00
			var nd = new Date(utc + (3600000*offset));
			return nd.toLocaleString();
		}
        function retrieveMessage(senderId, receiverId) {
            var ref = firebase.database().ref('Messages/' + receiverId + "_" + senderId);
            ref.on("value", function (snapshot) {
                chatRecord = snapshot.val();
				console.log(chatRecord);
				//console.log(chatRecord.Chat);
				var createDiv = "";
				$("#chatWindow").html("");
				if(chatRecord != null){
					for(i in chatRecord.Chat){
						//console.log(chatRecord.Chat[i]["message"]);
						curTime = convertEpochToSpecificTimezone(5.5,parseInt(chatRecord.Chat[i]["timeStamp"]));
						//console.log(currentUserId);
						//console.log(convertEpochToSpecificTimezone(5.5,parseInt(chatRecord.Chat[i]["timeStamp"])));
						//console.log(chatRecord.Chat[i]["senderId"]);
						//console.log(chatRecord.Chat[i]["receiverId"]);
						//createDiv = "<div><p>"+curTime+"</p><p>"+chatRecord.Chat[i]["message"]+"</p></div>";
						if(chatRecord.Chat[i]["senderId"] == currentUserId){
							createDiv =  '<div class="containerChat darker">'+
									  '<img src="{{ user.profile_image.url }}" alt="Me" class="right">'+
									  '<p style="color:white;">'+chatRecord.Chat[i]["message"]+'</p>'+
									  '<span class="time-left" style="color:white;">'+curTime+'</span>'+
									'</div>';
						}else{
							createDiv =  '<div class="containerChat">'+
									  '<img src="'+userProfile+'" alt="You">'+
									  '<p>'+chatRecord.Chat[i]["message"]+'</p>'+
									  '<span class="time-right">'+curTime+'</span>'+
									'</div>';
						}
						$("#chatWindow").append(createDiv);
					}
				}else{
					createDiv =  '<div class="containerChat darker">'+
									  '<img src="{{ user.profile_image.url }}" alt="Me" class="right">'+
									  '<p>Say your first hello!</p>'+
									'</div>';
					$("#chatWindow").html(createDiv);
				}
				//Scroll to the bottom of the div
				$("#parentChatWindow").animate({ scrollTop: $("#chatWindow").height() }, 1000);
            }, function (errorObject) {
                toastr.warning("Couldn't retrieve data!!!");
                console.log("The read failed: " + errorObject.code);
            });
        }

        function setHandleBar(hbSelector, domSelector, results) {
            var theTemplateScript = hbSelector.html();
            var theTemplate = Handlebars.compile(theTemplateScript);
            var context = {'result': results, 'base_root': BASE_ROOT};
            var theCompiledHtml = theTemplate(context);
            if (e_type === 'SearchEnquiry') {
                domSelector.append(theCompiledHtml);
            } else {
                domSelector.html(theCompiledHtml);
            }
            return true
        }
        function displayMessage(senderId, receiverId) {
            retrieveMessage(senderId, receiverId);
            toastr.info("Chat Initiated");
            {#alert(chatRecord);#}
        }

        function initiateChat(event) {
            var userId = event.value;
            var userName = event.dataset['name'];
            userProfile = event.dataset["profile"];
			console.log(userProfile);
            receiverId = JSON.stringify(userId);
            var success_message = "chat successfully initialized with " + userName;
            // toastr["success"](success_message, "Chat Initialized");
            $('#current-chat-session').text(userName);
            $('#current-chat-session-image').attr('src', userProfile);
            console.log(receiverId);
            displayMessage(currentUserId, receiverId)
        }

        $('#send_message').on("click", function () {
            var new_message = $('#new_message_area').val();
            if (currentUserId && receiverId) {
                if (new_message) {
                    writeMessage(currentUserId, receiverId, new_message);
                }
                else{
                    {#toastr.remove();#}
                    toastr.warning('Empty message', 'Message sent failed!')
                }
            }
            else{
                {#toastr.remove();#}
                toastr.error('Chat is not Initiated', 'Message sent failed!')
            }
        });
    </script>
{% endblock %}