{% extends 'common/common.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}
<section>
{% if user.role <= 2 %}
    <div class="container col-xs-4 col-xs-offset-3">
        {% include 'common/message.html' %}
        <form action="" class="form-group" method="post" role="form" enctype="multipart/form-data">
            {% crispy form form.helper %}
            <input type="submit" class="btn btn-theme" value="Save" />
        </form>
    </div>
</section>
{% endif %}
{% endblock %}