{% extends 'common/common.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}
    {% include 'common/message.html' %}
    {% if user.role <= 2 %}
        <div class="main-container">
            <form action="" class="form-group" method="post" role="form" enctype="multipart/form-data">
                <div class="container">
                    {% crispy form form.helper %}
                </div>
                <input type="submit" class="btn btn-theme" value="Save"/>
            </form>
        </div>
    {% endif %}
{% endblock %}