{% extends 'common/common.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}
<section>
    <div class="container col-xs-4 col-xs-offset-3">
        {% include 'common/message.html' %}
        {% if form.field_errors %}
            <div class="row">
                <ul class='form-errors'>
                    {% for error in form.field_errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <form action="" class="form-group" method="post" role="form" >
            {% crispy form form.helper %}
            <input type="submit" class="btn btn-theme" value="Save" />
        </form>
    </div>
</section>
{% endblock %}