{% extends 'common/common.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}
    {% include 'common/message.html' %}
    <div class="main-container">
        <div class="container">
            <form action="" class="form-group" method="post" role="form">
                {% crispy form form.helper %}
                {% if pass_key %}
                <div class="row">
                    <a class="btn btn-amber" href="{% url 'password_reset' pk=pass_key %}">
                        Reset Password
                    </a>
                </div>
                {% endif %}
                <input type="submit" class="btn btn-theme" value="Save"/>
            </form>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script>
        $(document).ready(function () {
            $('select[name=role]').parent().hide();
            console.log("operation completed!");
        });
    </script>
{% endblock %}