{% extends 'common/common.html' %}
{% block includes %}
    {% load static %}
    {% include 'common/common_nav.html' %}
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">FieldRate</li>
    </ol>
    {% include 'common/message.html' %}
    <div class="main-sub-container">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-lg-3 col-md-3 col-sm-4">
                    <div class="categories">
                        <a href="{% url 'chat' %}">
                            <div class="category-img-container">
                                <img src="{% static '/assets/images/chat@2x.png' %}" class="img-responsive"/>
                            </div>
                        </a>
                        <h3>Chat</h3>
                    </div>
                </div>
                <div class="col col-12 col-lg-3 col-md-3 col-sm-4">
                    <div class="categories">
                        <a href="{% url 'manage_news_feed' %}">
                            <div class="category-img-container">
                                <img src="{% static '/assets/images/newspaper@2x.png' %}" class="img-responsive"/>
                            </div>
                        </a>
                        <h3>News Feed</h3>
                    </div>
                </div>

                <div class="col col-12 col-lg-3 col-md-3 col-sm-4">
                    <div class="categories">
                        <a href="{% url 'survey_manage' %}">
                            <div class="category-img-container">
                                <img src="{% static '/assets/images/newspaper@2x.png' %}" class="img-responsive"/>
                            </div>
                        </a>
                        <h3>Survey</h3>
                    </div>
                </div>
                <div class="col col-12 col-lg-3 col-md-3 col-sm-4">
                    <div class="categories">
                        <a href="{% url 'benchmark' %}">
                            <div class="category-img-container">
                                <img src="{% static '/assets/images/scales@2x.png' %}" class="img-responsive"/>
                            </div>
                        </a>
                        <h3>Benchmark</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}