{% extends 'common/common.html' %}
{% block title %} <title>Upload file </title> {% endblock %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}
    <section>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'employee_data' %}">Employee Data</a></li>
            <li class="breadcrumb-item active">Upload File</li>
        </ol>
        <div class="container-fluid">
            {% if form.errors %}
                <div class="row">
                    <ul class='form-errors'>
                        {% for error in form.errors %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if messages %}
                <div class="row">
                    {% for message in messages %}
                        <div class="{{ message|message_filter }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container center-block col-md-5">
                {% if user.role <= 2 %}
                    {% crispy form form.helper %}
                {% else %}
                    <h4>You don't have rights to access this facility</h4>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
{% block extrajs %}
    <script>
        $("form").submit(function () {
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                var file = $('.form-control.clearablefileinput')[0].files[0];
                if (file && file.size > 2 * 1024 * 1024) {
                    alert("File " + file.name + " of type " + file.type + " is too big");
                    return false;
                }
            }
        });
    </script>
{% endblock %}