{% extends 'common/common.html' %}
{% block includes %}
    {% load static %}
    {% include 'common/common_nav.html' %}
{% endblock %}

{% block content %}
    {% include 'common/message.html' %}
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-lg-4 col-md-4 col-sm-4">
                    <div class="categories">
                        <a href="{% url 'employee_data' %}">
                            <div class="category-img-container">
                                <img src="{% static '/assets/images/employee_data.png' %}" class="img-responsive"/>
                            </div>
                        </a>
                        <h3>Employee Data</h3>
                    </div>
                </div>
                <div class="col col-12 col-lg-4 col-md-4 col-sm-4">
                    <div class="categories">
                        <a href="{% url 'field_rate' %}">
                            <div class="category-img-container">
                                <img src="{% static '/assets/images/field-rate.png' %}" class="img-responsive"/>
                            </div>
                        </a>
                        <h3>Field Rate</h3>
                    </div>
                </div>
                <div class="col col-12 col-lg-4 col-md-4 col-sm-4">
                    <div class="categories">
                        <a href="{% url 'settings' %}">
                            <div class="category-img-container">
                                <img src="{% static '/assets/images/settingicon.png' %}" class="img-responsive"/>
                            </div>
                        </a>
                        <h3>Settings</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
