{% extends 'common/common.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}
    <section>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'field_rate' %}">FieldRate</a></li>
            <li class="breadcrumb-item active">Survey</li>
        </ol>
        <div class="container-fluid">
            <a href="{% url 'add_survey' %}" class="breadcrumb-item navbar-right btn btn-success"> + Add Survey </a>
        </div>
        <div class="container-fluid">
            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        <div class="{{ message|message_filter }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if form %}
                <form action="" method="get" class="form form-inline">
                    {% bootstrap_form form layout='inline' %}
                    {% bootstrap_button 'Search' %}
                </form>
            {% endif %}
            {% render_table table %}
        </div>
    </section>
{% endblock %}