{% block footer %}
    <footer class="footer bg-black">
        <div class="container">
            <div class="row">
                <div class="col footer-navbar">
                    <ul class="footer-navs">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-google-plus"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col copyright text-center">
                    &copy; {{ SITE_NAME }} All Right Reserved
                </div>
            </div>
        </div>
    </footer>
{% endblock %}