{% extends 'common/common.html' %}
{% block includes %}
    {% include 'common/common_nav.html' %}
{% endblock %}
{% block extracss %}
    <style>
        #login-form input[type=text], #login-form input[type=email] {
            height: 40px;
        }
    </style>
{% endblock %}

{% block anonymous_content %}
    <section id="contact" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center"><h4>Introduction to FieldRate</h4></div>
                    <iframe src="https://player.vimeo.com/video/232485795" width="500" height="338" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <p><a href="https://vimeo.com/232485795">Water II</a> from <a
                            href="https://vimeo.com/morganmaassen">Morgan Maassen</a> on <a href="https://vimeo.com">Vimeo</a>.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="text-center"><h4><strong>Login</strong></h4></div>
                    <div class="cform" id="login-form">
                        {% if form.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in form.non_field_errors %}
                                    <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form action="" method="post" role="form" class="contactForm">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.username }}
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                {{ form.password }}
                                <div class="validation"></div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-lg btn-theme">Login</button>
                            </div>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %} {% endblock %}