{% extends 'common/common.html' %}
{% load rest_framework %}
{% block anonymous_content %}
    <section>
        {% include 'common/message.html' %}
        {% if form.field_errors %}
            <div class="row">
                <ul class='form-errors'>
                    {% for error in form.field_errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="container-fluid col-xs-4 col-xs-offset-3">
            {% if stage == 0 %}
                <h3>Select Plan</h3>
                <form action="{% url 'select_plan' stage=stage|add:"1" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% render_form serializer %}
                    <button type="submit" class="btn btn-success">Proceed</button>
                </form>
            {% elif stage == 1 %}
                <form action="{% url 'select_plan' stage=stage|add:"1" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% render_form serializer %}
                    <button type="submit" class="btn btn-success">Proceed</button>
                </form>
            {% endif %}
        </div>
    </section>

{% endblock %}

{% block extrajs %}
    <script>
        $(document).ready(function () {
            {#var user_id = {{ user.id }};#}
            {#var stage_val = {{ stage }};#}
            $('select[name=role]').parent().hide();
            console.log("operation completed!");
            {#$('select[name=company_user]').parent().hide();#}
            {#$('select[name=company_user]>option[value=user_id]').prop('selected', true);#}
            {#console.log($('select[name=company_user]>option[value=user_id]').prop('selected', true).text())#}
            {#debugger;#}
        });
    </script>
{% endblock %}