{% extends 'common.html' %}
{% block content %}
<section>
<div class="container">
    <div class="row">
        <div class="list-group col-md-3">
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">Chat</h4>
            </a>
        </div>
        <div class="list-group col-md-3">
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">News Feed</h4>
            </a>
        </div>
        <div class="list-group col-md-3">
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">Survey</h4>
            </a>
        </div>
        <div class="list-group col-md-3">
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">Benchmark</h4>
            </a>
        </div>
    </div>
</div>
</section>
{% endblock %}