{% extends 'common.html' %}
{% block title %} <title>Upload file </title> {% endblock %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}
    <section>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'employee_data' %}">Employee Data</a></li>
            <li class="breadcrumb-item active">Upload File</li>
        </ol>
        <div class="container-fluid">
            {% if form.non_field_errors %}
                <div class="row">
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if messages %}
                <div class="row">
                    {% for message in messages %}
                        <div class="{{ message|message_filter }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container center-block col-md-5">
                {% crispy form form.helper %}
            </div>
        </div>
    </section>
{% endblock %}