{% extends "common.html" %}

{% block content %}
<section>
    {% load render_table from django_tables2 %}
    {% load bootstrap3 %}
    {% if filter %}
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'Search' %}
        </form>
    {% endif %}
    <div class="container-fluid">
        {% for table in tables %}
            {% render_table table %}
        {% endfor %}
    </div>
</section>
{% endblock %}